.main_page_decor {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}
.wrapp_main_manu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 103px;

    .left_block {
        color: white;
        font-family: 'Lexend', sans-serif;
        margin-right: 120px;
        
        p:first-child {
            font-size: 18px;
            background-color: #262626;
            border-radius: 61px;
            display: inline;
            padding: 10px 20px;
        }
        h1 {
            font-size: 48px;
            font-weight: 500;
            margin: 20px 0 14px 0;

            span {
                color: #CAFF33;
            }
        }
        .description {
            font-size: 18px;
            line-height: 150%;
            margin-bottom: 50px;
        }
        a {
            text-decoration: none;
            color: black;
            font-size: 18px;
            background-color: #CAFF33;
            padding: 18px 30px;
            border-radius: 82px;
            border: solid 1px #CAFF33;
            transition: all .2s ease-in-out;
        }
        a:hover {
            background-color: transparent;
            color: white;
        }
    }
    .right_block {
        font-family: 'Lexend', sans-serif;
        color: white;
        position: relative;
        background-color: black;

        .wrapp_ing_right_block {
            border: solid 1px #262626;
            border-radius: 10px;
            padding: 34px;
        }
        .encome_img {
            position: absolute;
            left: -80px;
            top: -50px;
        }
        .arrow_decor {
            position: absolute;
            right: -80px;
            top: -40px;
            z-index: -1;
        }
        p {
            padding: 0 0 17px 0;
        }
        .header_text > p {
            margin: 26px 0;
        }
        .wrapp_input {
            display: flex;
            justify-content: center;
            font-family: 'Lexend', sans-serif;
            border-radius: 10px;
            border: solid 1px #262626;

            .block_input {
                border-right: solid 1px #262626;
            }
            .block_input, .block_output {
                width: 222px;
                
                p {
                    text-transform: uppercase;
                    padding: 17px;

                    img {
                        padding-right: 8px;
                        width: 37px;
                    }
                }
                .name_currency {
                    font-size: 14px;
                    text-transform: none;
                    border-bottom: solid 1px #262626;
                    padding: 0 17px 17px 17px;

                }
                input {
                    border: none;
                    background-color: transparent;
                    padding: 26px 17px;
                    color: white;
                    font-size: 18px;
                }
            }
        }
        .exchange_btn {
            text-align: center;
            display: block;
            text-decoration: none;
            color: #D1FF4D;
            background-color: #22251B;
            margin-top: 25px;
            padding: 13px 0;
            border-radius: 71px;
            transition: all .2s ease-in-out;
        }
        .exchange_btn:hover {
            background-color: #D1FF4D;
            color: black;
        }
    }
    .supported_currency {
        display: inline-flex;
        position: absolute;
        right: -50px;
        background-color: #22251B;
        padding: 15px;
        border-radius: 69px;
        margin-top: 12px;

        p {
            padding: 0;
            display: flex;
            align-items: center;
        }
        .currency_img {
            background-color: black;
            border-radius: 47px;
            margin-left: 7px;
            padding: 8px;

            img:first-child {
                margin-left: 0px;
            }
            img {
                background-color: #22251B;
                border-radius: 100px;
                padding: 9px 12px;
                margin-left: 7px;
            }
        }
    }
}
.block_text {
    color: white;
    width: 850px;
    font-family: 'Lexend', sans-serif;

    h2 {
        font-size: 48px;
        margin-bottom: 14px;

        span {
            color: #CAFF33;
        }
    }
    p {
        color: #B3B3B3;
        line-height: 150%;
        font-size: 18px;
    }
}
.wrapp_our_product {
    margin-top: 180px;

    .wrapp_header_product {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: 'Lexend', sans-serif;

        
        .block_btn {
            display: flex;
            border: solid 1px #262626;
            padding: 14px;
            border-radius: 82px;
            margin-left: -24px;

            a {
                text-decoration: none;
                color: white;
                margin-left: 24px;
            }
            .for_individuals {
                background-color: #CAFF33;
                color: black;
                padding: 14px 24px;
                border-radius: 140px;
            }
            .for_businesses {
                padding: 14px 24px;
                transition: all .2s ease-in-out;
            }
            .for_businesses:hover {
                background-color: #262626;
                border-radius: 140px;
            }
        }
    }
    .wrapp_product_item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: -100px;
        margin-top: 100px;

        .product_item {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            color: white;
            margin-left: 100px;
            text-align: center;
            font-family: 'Lexend', sans-serif;

            img {
                background-color: #c4fa3127;
                border-radius: 100px;
                padding: 20px;
            }
            h3 {
                font-size: 24px;
                margin: 30px 0 20px 0;
                font-weight: 400;
            }
            p { 
                color: #B3B3B3;
                line-height: 150%;
            }
        }
    }
}
@mixin abstractDesign {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}
.wrapp_use_cases {
    margin-top: 150px;

    .block_text_two {
        color: white;
        width: 1000px;
        font-family: 'Lexend', sans-serif;

        h2 {
            font-size: 48px;
            margin-bottom: 14px;
            color: #CAFF33;
        }
        p {
            color: #B3B3B3;
            line-height: 150%;
            font-size: 18px;
        }
    }
    .block_individuals {
        display: flex;
        justify-content: center;
        font-family: 'Lexend', sans-serif;
        margin-top: 80px;

        
        .left_block {
            position: relative;

            margin-right: 80px;
            display: grid;
            align-items: center;
            grid-template-columns: repeat(2, 314px);
            grid-template-rows: repeat(2, 222px);
            grid-gap: 20px;
            padding: 50px;
            background-color: #1C1C1C;
            border-radius: 20px;

            .Abstract_Design {
                @include abstractDesign;
            }
            .img_one, .img_two,  .img_three, .img_four{
                color: white;
                text-align: center;
                background-color: black;
                padding: 30px 0 60px 0;
                border-radius: 20px;
                z-index: 2;

                img {
                    margin-bottom: 48px;
                    background-color: #c4fa3122;
                    border-radius: 100px;
                    padding: 14px 17px;
                }
                p {
                    font-size: 20px;
                }
            }
        }
        .right_block {
            width: 748px;
            display: flex;
            flex-direction: column;
            color: white;
            
            h3 {
                font-size: 30px;
                margin-bottom: 14px;
            }
            p {
                font-size: 18px;
                color: #B3B3B3;
                margin-bottom: 62px;
                line-height: 150%;
            }
            .percentages {
                display: flex;
                justify-content: space-between;
            }
            .planing_item {
                color: white;
                width: 130px;

                h2 {
                    font-size: 58px;
                    color: #CAFF33;
                }
                p {
                    color: #B3B3B3;
                    font-size: 18px;
                    line-height: 150%;
                }
            }
        }
    }
}
.btn_learn_more > a {
    text-decoration: none;
    color: white;
    background-color: #1C1C1C;
    border: solid 1px #262626;
    border-radius: 82px;
    padding: 18px 24px;
    transition: all .2s ease-in-out;
    cursor: pointer;
}
.btn_learn_more > a:hover {
    background-color: #CAFF33;
    color: black;
}
.center {
    text-align: center;
    margin-top: 50px;

    img {
        padding-left: 9px;
    }
}

.for_busines {
    margin-top: 60px;

    .for_busines_left {
        position: relative;

        margin-left: 80px;
        display: grid;
        align-items: center;
        grid-template-columns: repeat(2, 314px);
        grid-template-rows: repeat(2, 222px);
        grid-gap: 20px;
        padding: 50px;
        background-color: #1C1C1C;
        border-radius: 20px;

        .Abstract_Design {
            position: absolute;
            right: 0;
            top: 0;
            z-index: 1;
        }
        .img_one, .img_two,  .img_three, .img_four{
            color: white;
            text-align: center;
            background-color: black;
            padding: 30px 0 60px 0;
            border-radius: 20px;
            z-index: 2;

            img {
                margin-bottom: 48px;
                background-color: #c4fa3122;
                border-radius: 100px;
                padding: 14px 17px;
            }
            p {
                font-size: 20px;
            }
        }
    }
}
.wrapp_features {
    margin-top: 150px;

    .wrapp_info_block {
        display: flex;
        justify-content: center;
        font-family: 'Lexend', sans-serif;
        margin-right: 30px;

        .left_block {
            margin-top: 50px;
        }
        .left_block > p {
            color: white;
            font-size: 18px;
            margin-top: 24px;
        }
        .left_block > p:first-child {
            color: #CAFF33;
        }
        
    }
    .right_block {
        display: grid;
        grid-template-columns: repeat(2, 514px);
        grid-template-rows: repeat(2, 272px);
        grid-gap: 30px;
        margin-left: 30px;

        .block_item {
            font-family: 'Lexend', sans-serif;
            color: white;
            padding: 50px;
            background-color: #1C1C1C;
            border-radius: 12px;

            h3 {
                display: flex;
                justify-content: space-between;
                font-size: 22px;
                margin-bottom: 30px;
            }
            p {
                font-size: 18px;
                color: #B3B3B3;
            }
        }
    }
}
.wrapp_asked {
    margin-top: 150px;

    .block_asked_text {
        margin-top: 130px;
        height: 697px;
        display: grid;
        grid-template-columns:  repeat(2, minmax(582px, 1fr));
        grid-template-rows: auto;
        grid-gap: 30px;
        justify-content: center;
        overflow: hidden;

        .asked_item {
            color: white;
            font-family: 'Lexend', sans-serif;
            padding: 50px;
            border: solid 1px #262626;
            border-radius: 14px;

            h5 {
                font-size: 20px;
                margin-bottom: 60px;
            }
            p {
                color: #B3B3B3;
            }
        }
    }    
}
.wrapp_testimonials {
    margin-top: 150px;

    .block_sliders {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 100px 0 0 -50px;

        .slider_item {
            width: 320px;
            color: white;
            text-align: center;
            margin-left: 50px;
            font-family: 'Lexend', sans-serif;

            p {
                font-size: 18px;
                line-height: 150%;
                margin: 50px 0;
            }
            h6 {
                font-size: 18px;
                color: #CAFF33;
                font-weight: 500;
            }
        }
        .cursore_decor {
            cursor: pointer;
        }
        #arrow_right_slider {
            margin-left: 50px;
            cursor: pointer;
        }
    }
}
.wrapp_contact {
    margin-top: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px;
    border: solid 1px #262626;
    border-radius: 20px;
    position: relative;

    .Abstract_Design {
        @include abstractDesign;
    }
    .left_block_text {
        font-family: 'Lexend', sans-serif;
        width: 900px;
        color: white;

        h2 {
            margin-bottom: 14px;

            span {
                color: #CAFF33;
            }
        }
        p {
            font-size: 18px;
            color: #B3B3B3;
        }
    }
    .right_block {

        a {
            text-decoration: none;
            color: black;
            background-color: #CAFF33;
            border: solid 1px #CAFF33;
            padding: 18px 30px;
            border-radius: 80px;
            transition: all .2s ease-in-out;
        }
        a:hover {
            background-color: transparent;
            border: solid 1px #CAFF33;
            color: white;
        }
    }
}