<app-header></app-header>
<img class="main_page_decor" src="/assets/main/main_decor_left.png" alt="decor">
<div class="container">
    <div class="wrapp_main_manu">
        <div class="left_block">
            <p><img src="/assets/main/subtract.svg" alt=""> No LLC Required, No Credit Check.</p>
            <h1>Welcome to YourBank
                Empowering Your <span>Financial Journey</span></h1>
            <p class="description">At YourBank, our mission is to provide comprehensive banking solutions that empower individuals and businesses to achieve their financial goals. We are committed to delivering personalized and innovative services that prioritize our customers' needs.</p>
            <a href="">Open Account</a>
        </div>
        <div class="right_block">
            <div class="wrapp_ing_right_block">
                <img class="encome_img" src="/assets/main/encome.png" alt="encome">
                <img class="arrow_decor" src="/assets/main/arrow_decor.png" alt="arrow_decor">
                <p>Your Transactions</p>
                <img src="/assets/main/transition.png" alt="transition">
                <div class="block_exchange">
                    <div class="header_text">
                        <p>Money Exchange</p>
                    </div>
                    <div class="wrapp_input">
                        <div class="block_input">
                            <p><img src="/assets/main/IRL.png" alt="INR">INR</p>
                            <p class="name_currency">Indian Rupees</p>
                            <input type="text" placeholder="5,0000">
                        </div>
                        <div class="block_output">
                            <p><img src="/assets/main/USD.png" alt="INR">USD</p>
                            <p class="name_currency">United States Dollar</p>
                            <input type="text" placeholder="12.00">
                        </div>
                    </div>
                    <a class="exchange_btn" href="">Exchange</a>
                </div>
            </div>
            <div class="supported_currency">
                <p>Supported Currency</p>
                <div class="currency_img">
                    <img src="/assets/main/usd_icon.svg" alt="usd">
                    <img src="/assets/main/euro_icon.svg" alt="euro">
                    <img src="/assets/main/bitcoin_icon.svg" alt="bitcoin">
                    <img src="/assets/main/etherium_icon.svg" alt="etherium">
                </div>
            </div>
        </div>
    </div>
    <div class="wrapp_our_product">
        <div class="wrapp_header_product">
            <div class="block_text">
                <h2>Our <span>Products</span></h2>
                <p>Discover a range of comprehensive and customizable banking products at YourBank, designed to suit your unique financial needs and aspirations</p>
            </div>
            <div class="block_btn">
                <a class="for_individuals" href="">For Individuals</a>
                <a class="for_businesses" href="">For Businesses</a>
            </div>
        </div>
        <div class="wrapp_product_item">
            <div class="product_item">
                <img src="/assets/main/bag_icon.svg" alt="bag">
                <h3>Checking Accounts</h3>
                <p>Enjoy easy and convenient access to your funds with our range of checking account options. Benefit from features such as online and mobile banking, debit cards, and free ATM access.</p>
            </div>
            <div class="product_item">
                <img src="/assets/main/basket.svg" alt="basket">
                <h3>Savings Accounts</h3>
                <p>Build your savings with our competitive interest rates and flexible savings account options. Whether you're saving for a specific goal or want to grow your wealth over time, we have the right account for you.</p>
            </div>
            <div class="product_item">
                <img src="/assets/main/camera.svg" alt="camera">
                <h3>Loans and Mortgages</h3>
                <p>Realize your dreams with our flexible loan and mortgage options. From personal loans to home mortgages, our experienced loan officers are here to guide you through the application process and help you secure the funds you need.</p>
            </div>
        </div>
    </div>
    <div class="wrapp_use_cases">
        <div class="block_text_two">
            <h2>Use Cases</h2>
            <p>Discover a range of comprehensive and customizable banking products at YourBank, designed to suit your unique financial needs and aspirations</p>
        </div>
        <div class="block_individuals">
            <div class="left_block">
                <img class="Abstract_Design" src="/assets/main/Abstract_Design.svg" alt="Abstract_Design">
                <div class="img_one">
                    <img src="/assets/main/Managing.svg" alt="Managing">
                    <p>Managing Personal Finances</p>
                </div>
                <div class="img_two">
                    <img src="/assets/main/Saving.svg" alt="Saving">
                    <p>Saving for the Future</p>
                </div>
                <div class="img_three">
                    <img src="/assets/main/Homeownership.svg" alt="Homeownership">
                    <p>Homeownership</p>
                </div>
                <div class="img_four">
                    <img src="/assets/main/Education.svg" alt="">
                    <p>Education Funding</p>
                </div>
            </div>
            <div class="right_block">
                <h3>For Individuals</h3>
                <p>For individuals, our mortgage services pave the way to homeownership, and our flexible personal loans provide vital support during various life milestones. We also prioritize retirement planning, ensuring a financially secure future for our customers</p>
                <div class="percentages">
                    <div class="planing_item">
                        <h2>78%</h2>
                        <p>Secure Retirement Planning</p>
                    </div>
                    <div class="planing_item">
                        <h2>63%</h2>
                        <p>Manageable Debt Consolidation</p>
                    </div>
                    <div class="planing_item">
                        <h2>91%</h2>
                        <p>Reducing financial burdens</p>
                    </div>
                </div>
                <div class="btn_learn_more">
                    <a href="">Learn More</a>
                </div>
            </div>
        </div>
        <div class="block_individuals for_busines">
            <div class="right_block">
                <h3>For Business</h3>
                <p> For businesses, we empower growth with working capital solutions that optimize cash flow, and our tailored financing options fuel business expansion. Whatever your financial aspirations, YourBank is committed to providing the right tools and support to achieve them</p>
                <div class="percentages">
                    <div class="planing_item">
                        <h2>65%</h2>
                        <p>Cash Flow Management</p>
                    </div>
                    <div class="planing_item">
                        <h2>70%</h2>
                        <p>Drive Business Expansion</p>
                    </div>
                    <div class="planing_item">
                        <h2>45%</h2>
                        <p>Streamline payroll processing</p>
                    </div>
                </div>
                <div class="btn_learn_more">
                    <a href="">Learn More</a>
                </div>
            </div>
            <div class="for_busines_left ">
                <img class="Abstract_Design" src="/assets/main/Abstract_Design_r.svg" alt="Abstract_Design">
                <div class="img_one">
                    <img src="/assets/main/startups.svg" alt="startups">
                    <p>Startups and Entrepreneurs</p>
                </div>
                <div class="img_two">
                    <img src="/assets/main/cash.svg" alt="cash">
                    <p>Cash Flow Management</p>
                </div>
                <div class="img_three">
                    <img src="/assets/main/busines.svg" alt="busines">
                    <p>Business Expansion</p>
                </div>
                <div class="img_four">
                    <img src="/assets/main/payment.svg" alt="payment">
                    <p>Payment Solutions</p>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapp_features">
        <div class="block_text">
            <h2>Our <span>Products</span></h2>
            <p>Discover a range of comprehensive and customizable banking products at YourBank, designed to suit your unique financial needs and aspirations</p>
        </div>
        <div class="wrapp_info_block">
            <div class="left_block">
                <p class="active">Online Banking</p>
                <p>Financial Tools</p>
                <p>Customer Support</p>
            </div>
            <div class="right_block">
                <div class="block_item">
                    <h3>24/7 Account Access <img src="/assets/main/right_up_arrow.svg" alt="arrow"></h3>
                    <p>Enjoy the convenience of accessing your accounts anytime, anywhere through our secure online banking platform. Check balances, transfer funds, and pay bills with ease.</p>
                </div>
                <div class="block_item">
                    <h3>Mobile Banking App <img src="/assets/main/right_up_arrow.svg" alt="arrow"></h3>
                    <p>Stay connected to your finances on the go with our user-friendly mobile banking app. Easily manage your accounts, deposit checks, and make payments from your smartphone or tablet.</p>
                </div>
                <div class="block_item">
                    <h3>Secure Transactions <img src="/assets/main/right_up_arrow.svg" alt="arrow"></h3>
                    <p>Rest assured knowing that your transactions are protected by industry-leading security measures. We employ encryption and multi-factor authentication to safeguard your financial information.</p>
                </div>
                <div class="block_item">
                    <h3>Bill Pay and Transfers <img src="/assets/main/right_up_arrow.svg" alt="arrow"></h3>
                    <p>Save time and avoid late fees with our convenient bill pay service. Set up recurring payments or make one-time transfers between your accounts with just a few clicks.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapp_asked">
        <div class="block_text">
            <h2><span>Frequently</span> Asked Questions</h2>
            <p>Still you have any questions? Contact our Team via support@yourbank.com</p>
        </div>
        <div class="block_asked_text" id="block_asked_text" *ngFor = "let i of asketItems.slice(0, showAll ? asketItems.length : 2)">
                <div class="asked_item">
                    <h5>{{i.name}}</h5>
                    <p>{{i.description}}</p>
                </div>
                <div class="asked_item">
                    <h5>{{i.name}}</h5>
                    <p>{{i.description}}</p>
                </div>
        </div>
        
        <div class="btn_learn_more center">
            <a (click)="showAll = true">Load All FAQ’s <img src="/assets/main/arrow_down_btn.svg" alt="arrow"></a>
        </div>
    </div>

<!-- main-page.component.html -->

<div class="wrapp_testimonials">
    <div class="block_text">
      <h2>Our <span>Testimonials</span></h2>
      <p>Discover how YourBank has transformed lives with innovative digital solutions and personalized customer service. See why our clients trust us for a secure and prosperous financial journey</p>
    </div>
    <img class="cursore_decor" src="/assets/main/slider_arrow_left.svg" alt="arrow_left" (click)="prevSlide()">
    
    <ngb-carousel [showNavigationArrows]="false" [activeId]="currentIndex">
        <ng-template ngbSlide *ngFor="let item of sliderItems; let i = index">
          <img [src]="item.image" alt="feedback">
        </ng-template>
      </ngb-carousel>
  
    <img id="arrow_right_slider" src="/assets/main/slider_arrow_right.svg" alt="arrow_right" (click)="nextSlide()">
  </div>
  
  
  
    <div class="wrapp_contact">
        <img class="Abstract_Design" src="/assets/main/Abstract_Design.svg" alt="Abstract_Design">
        <div class="left_block_text">
            <h2>Start your financial journey with <span>YourBank today!</span></h2>
            <p>Ready to take control of your finances? Join YourBank now, and let us help you achieve your financial goals with our tailored solutions and exceptional customer service</p>
        </div>
        <div class="right_block">
            <a href="">Open Account</a>
        </div>
    </div>
</div>
<app-footer></app-footer>