<app-header></app-header>
<img class="main_page_decor" src="/assets/main/main_decor_left.png" alt="decor">
<div class="container">
    <div class="wrapp_main_manu">
        <div class="left_block">
            <p><img src="/assets/main/subtract.svg" alt=""> No LLC Required, No Credit Check.</p>
            <h1>Welcome to YourBank
                Empowering Your <span>Financial Journey</span></h1>
            <p class="description">At YourBank, our mission is to provide comprehensive banking solutions that empower individuals and businesses to achieve their financial goals. We are committed to delivering personalized and innovative services that prioritize our customers' needs.</p>
            <a href="">Open Account</a>
        </div>
        <div class="right_block">
            <img class="encome_img" src="/assets/main/encome.png" alt="encome">
            <img class="arrow_decor" src="/assets/main/arrow_decor.png" alt="arrow_decor">
            <p>Your Transactions</p>
            <img src="/assets/main/transition.png" alt="transition">
            <div class="block_exchange">
                <div class="header_text">
                    <p>Money Exchange</p>
                </div>
                <div class="wrapp_input">
                    <div class="block_input">
                        <p><img src="/assets/main/IRL.png" alt="INR">INR</p>
                        <p class="name_currency">Indian Rupees</p>
                        <input type="text" placeholder="5,0000">
                    </div>
                    <div class="block_output">
                        <p><img src="/assets/main/USD.png" alt="INR">USD</p>
                        <p class="name_currency">United States Dollar</p>
                        <input type="text" placeholder="12.00">
                    </div>
                </div>
                <a class="exchange_btn" href="">Exchange</a>
            </div>
        </div>
    </div>
</div>