<app-header></app-header>
<div class="container">
    <div class="wrapp_login">
        <img class="abstract_decor" src="/assets/main/Abstract_Design_r.svg" alt="abstract">
        <div class="block_login">
            <div class="header_login">
                <h2>Sign Up</h2>
                <p>Join our community today! Create an account to unlock exclusive features and personalized experiences.</p>
            </div>
            <div class="block_form">
                <form action="">
                    <div class="block_input">
                        <div class="block_name">
                            <input type="text" placeholder="Enter First Name">
                            <input type="password" placeholder="Enter Last Name">
                        </div>
                        <div class="block_data">
                            <input type="text" placeholder="Enter your Emaill">
                            <input type="password" placeholder="Enter your Password">
                        </div>
                    </div>
                    <button class="login">Sign Up</button>
                    <button routerLink="/login" class="sign">Login</button>
                </form>
                <div class="contineu">
                    <p><img src="/assets/login/Line.svg" alt="Line"> <span>Or Continue with</span> <img src="/assets/login/Line.svg" alt="Line"></p>
                </div>
                <div class="variable_login">
                    <img src="/assets/login/gmail.svg" alt="gmail">
                    <img src="/assets/login/facebook.svg" alt="facebook">
                    <img src="/assets/login/appl.svg" alt="apple">
                </div>
            </div>
        </div>
    </div>
    <div class="wrapp_testimonials">
        <div class="block_text">
            <h2>Our <span>Testimonials</span></h2>
            <p>Discover how YourBank has transformed lives with innovative digital solutions and personalized customer service. See why our clients trust us for a secure and prosperous financial journey</p>
        </div>
        <div class="block_sliders">
            <img class="cursore_decor" src="/assets/main/slider_arrow_left.svg" alt="arrow_left">
            <div class="slider_item">
                <img src="/assets/main/feedback_icon.svg" alt="feedback">
                <p>I recently started my own business, and YourBank has been instrumental in helping me set up my business accounts and secure the financing I needed. Their expert guidance and tailored solutions have been invaluable.</p>
                <h6>John D</h6>
            </div>
            <div class="slider_item">
                <img src="/assets/main/feedback_icon.svg" alt="feedback">
                <p>I recently started my own business, and YourBank has been instrumental in helping me set up my business accounts and secure the financing I needed. Their expert guidance and tailored solutions have been invaluable.</p>
                <h6>John D</h6>
            </div>
            <div class="slider_item">
                <img src="/assets/main/feedback_icon.svg" alt="feedback">
                <p>I recently started my own business, and YourBank has been instrumental in helping me set up my business accounts and secure the financing I needed. Their expert guidance and tailored solutions have been invaluable.</p>
                <h6>John D</h6>
            </div>
            <img id="arrow_right_slider" src="/assets/main/slider_arrow_right.svg" alt="arrow_right">
        </div>
    </div>
</div>
<app-footer></app-footer>