<app-header></app-header>
<div class="container">
    <div class="wrapp_login">
        <img class="abstract_decor" src="/assets/main/Abstract_Design_r.svg" alt="abstract">
        <div class="block_login">
            <div class="header_login">
                <h2>Sign Up</h2>
                <p>Join our community today! Create an account to unlock exclusive features and personalized experiences.</p>
            </div>
            <div class="block_form">
                <form action="">
                    <div class="block_input">
                        <div class="block_name">
                            <input type="text" placeholder="Enter First Name">
                            <input type="password" placeholder="Enter Last Name">
                        </div>
                        <div class="block_data">
                            <input type="text" placeholder="Enter your Emaill">
                            <input type="password" placeholder="Enter your Password">
                        </div>
                    </div>
                    <button class="login">Sign Up</button>
                    <button routerLink="/login" class="sign">Login</button>
                </form>
                <div class="contineu">
                    <p><img src="/assets/login/Line.svg" alt="Line"> <span>Or Continue with</span> <img src="/assets/login/Line.svg" alt="Line"></p>
                </div>
                <div class="variable_login">
                    <img src="/assets/login/gmail.svg" alt="gmail">
                    <img src="/assets/login/facebook.svg" alt="facebook">
                    <img src="/assets/login/appl.svg" alt="apple">
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>