<div class="container">
    <div class="wrapp_header">
        <div class="block_logo">
            <img src="/assets/header/Logo.svg" alt="logo">
        </div>
        <nav>
            <ul>
                <li routerLink="/">Home</li>
                <li routerLink="/carers">Careers</li>
                <li routerLink="/about">About</li>
                <li>Security</li>
            </ul>
        </nav>
        <div class="block_login">
            <a href="">Sign Up</a>
            <a href="">Login</a>
        </div>
    </div>
</div>