<div class="container">
    <div class="wrapp_header">
        <div class="block_logo">
            <img src="/assets/header/Logo.svg" alt="logo">
        </div>
        <nav>
            <ul>
                <li routerLink="/">Home</li>
                <li routerLink="/carers">Careers</li>
                <li routerLink="/about">About</li>
                <li routerLink="/security">Security</li>
            </ul>
        </nav>
        <div class="block_login">
            <a routerLink="/sign">Sign Up</a>
            <a routerLink="/login">Login</a>
        </div>
        <div class="burger_menu_wrapp">
            <img (click)="showBurger()" src="/assets/header/burger_menu.svg" alt="burger icon">
            <div class="burger_element" *ngIf="isBurgerMenuVisible">
                <p routerLink="/">Home</p>
                <p routerLink="/carers">Careers</p>
                <p routerLink="/about">About</p>
                <p routerLink="/security">Security</p>
                <p routerLink="/sign">Sign Up</p>
                <p routerLink="/login">Login</p>
            </div>
        </div>
    </div>
</div>