<app-header></app-header>
<div class="container">
    <div class="wrapp_header_block">
        <div class="left_block">
            <h2>Welcome to <span>YourBank</span> Careers!</h2>
            <p>Join our team and embark on a rewarding journey in the banking industry. At YourBank, we are committed to fostering a culture of excellence and providing opportunities for professional growth. With a focus on innovation, customer service, and integrity, we strive to make a positive impact in the lives of our customers and communities. Join us today and be a part of our mission to shape the future of banking.</p>
        </div>
        <div class="right_block">
            <img class="main_img" src="/assets/carers/header.png" alt="we">
            <img class="abstract" src="/assets/main/Abstract_Design_r.svg" alt="">
        </div>
    </div>
    <div class="wrapp_values">
        <div class="head_text">
            <h2>Our <span>Values</span></h2>
            <p>At YourBank, our values form the foundation of our organization and guide our actions. We believe in upholding the highest standards of integrity, delivering exceptional service, and embracing innovation. These values define our culture and shape the way we work together to achieve our goals.</p>
        </div>
        <div class="block_values">
            <div class="values_item">
                <h2>Integrity</h2>
                <p>We conduct ourselves with utmost honesty, transparency, and ethical behavior. We believe in doing what is right for our customers, colleagues, and stakeholders, even when faced with difficult choices.</p>
            </div>
            <div class="values_item">
                <h2>Customer Centricity</h2>
                <p>Our customers are at the heart of everything we do. We are dedicated to understanding their needs, providing personalized solutions, and delivering exceptional service that exceeds expectations.</p>
            </div>
            <div class="values_item">
                <h2>Collaboration</h2>
                <p>We foster a collaborative and inclusive work environment, where teamwork and diversity are celebrated. By leveraging the unique strengths and perspectives of our employees, we drive innovation and achieve greater success together.</p>
            </div>
            <div class="values_item">
                <h2>Innovation</h2>
                <p>We embrace change and constantly seek innovative solutions to meet the evolving needs of our customers. We encourage our employees to think creatively, challenge conventions, and explore new ideas to drive the future of banking.</p>
            </div>
        </div>
    </div>
    <div class="wrapp_benefits">
        <div class="head_text">
            <h2>Our <span>Benefits</span></h2>
            <p>At YourBank, we value our employees and are dedicated to their well-being and success. We offer a comprehensive range of benefits designed to support their personal and professional growth.</p>
        </div>
        <div class="block_benefits">
            <div class="benefits_item border_right">
                <h3><img src="/assets/carers/Compensation.svg" alt="">Competitive Compensation</h3>
                <p>We provide a competitive salary package that recognizes the skills and expertise of our employees. YourBank believes in rewarding exceptional performance and offering opportunities for financial growth.</p>
            </div>
            <div class="benefits_item">
                <h3><img src="/assets/carers/health.svg" alt="">Health and Wellness</h3>
                <p>We prioritize the health and well-being of our employees by providing comprehensive medical, dental, and vision insurance plans. We also offer wellness programs, gym memberships, and resources to support a healthy lifestyle.</p>
            </div>
            <div class="benefits_item">
                <h3><img src="/assets/carers/Retirement.svg" alt="">Retirement Planning</h3>
                <p>YourBank is committed to helping employees plan for their future. We offer a retirement savings plan with a generous employer match to help them build a secure financial foundation for the long term.</p>
            </div>
            <div class="benefits_item">
                <h3><img src="/assets/carers/Balance.svg" alt="">Work-Life Balance</h3>
                <p>We understand the importance of maintaining a healthy work-life balance. YourBank offers flexible work arrangements, paid time off, parental leave, and other programs that support employees in managing their personal and professional commitments.</p>
            </div>
        </div>
    </div>
    <div class="wrapp_job">
        <div class="head_text">
            <h2><span>Job Openings</span></h2>
            <p>Explore exciting job openings at YourBank, where we value talent, innovation, and a passion for customer service. Join our team and be part of shaping a brighter future in the banking industry</p>
        </div>
        <div class="job_blocks">
            <div class="job_item">
                <h2>Relationship Manager</h2>
                <div class="geo">
                    <div class="location">
                        <p>Location: India</p>
                        <p>Department: Retail Banking</p>
                    </div>
                </div>
                <div class="description_job">
                    <h3>About This Job</h3>
                    <p>As a Relationship Manager at YourBank, you will be responsible for developing and maintaining relationships with our valued customers. You will proactively identify their financial needs and offer tailored solutions to help them achieve their goals. We are seeking individuals with excellent communication skills, a strong sales acumen, and a passion for delivering exceptional customer service.</p>
                </div>
                <div class="requirements">
                    <h3>Requirements & Qualifications</h3>
                    <p><img src="/assets/carers/caise_icon.svg" alt="Requirements">Bachelor's degree in Business, Finance, or a related field</p>
                    <p><img src="/assets/carers/caise_icon.svg" alt="Requirements">Minimum of 3 years of experience in sales or relationship management in the banking industry</p>
                    <p><img src="/assets/carers/caise_icon.svg" alt="Requirements">Proven track record of meeting and exceeding sales targets</p>
                    <p><img src="/assets/carers/caise_icon.svg" alt="Requirements">Excellent interpersonal and negotiation skills</p>
                    <p><img src="/assets/carers/caise_icon.svg" alt="Requirements">Strong knowledge of banking products and services</p>
                </div>
                <div class="block_btn">
                    <a href="">Apply Now</a>
                </div>
            </div>
            <div class="job_item">
                <h2>Risk Analyst</h2>
                <div class="geo">
                    <div class="location">
                        <p>Location: India</p>
                        <p>Department: Risk Management</p>
                    </div>
                </div>
                <div class="description_job">
                    <h3>About This Job</h3>
                    <p>As a Risk Analyst at YourBank, you will play a vital role in identifying and assessing potential risks to our organization. You will analyze data, conduct risk assessments, and develop strategies to mitigate risks. We are looking for detail-oriented individuals with strong analytical skills and a solid understanding of risk management principles.</p>
                </div>
                <div class="requirements">
                    <h3>Requirements & Qualifications</h3>
                    <p><img src="/assets/carers/caise_icon.svg" alt="Requirements">Bachelor's degree in Finance, Economics, or a related field</p>
                    <p><img src="/assets/carers/caise_icon.svg" alt="Requirements">Minimum of 2 years of experience in risk management or a similar role</p>
                    <p><img src="/assets/carers/caise_icon.svg" alt="Requirements">Proficiency in risk analysis tools and techniques</p>
                    <p><img src="/assets/carers/caise_icon.svg" alt="Requirements">Strong analytical and problem-solving skills</p>
                    <p><img src="/assets/carers/caise_icon.svg" alt="Requirements">Knowledge of regulatory requirements and industry best practices</p>
                </div>
                <div class="block_btn">
                    <a href="">Apply Now</a>
                </div>
            </div>
            <div class="job_item">
                <h2>IT Security Specialist</h2>
                <div class="geo">
                    <div class="location">
                        <p>Location: India</p>
                        <p>Department: Risk Management</p>
                    </div>
                </div>
                <div class="description_job">
                    <h3>About This Job</h3>
                    <p>As an IT Security Specialist at YourBank, you will be responsible for ensuring the security and integrity of our information systems. You will develop and implement security protocols, conduct vulnerability assessments, and respond to security incidents. We are seeking individuals with a strong technical background, knowledge of cybersecurity best practices, and a commitment to maintaining the confidentiality of customer data.</p>
                </div>
                <div class="requirements">
                    <h3>Requirements & Qualifications</h3>
                    <p><img src="/assets/carers/caise_icon.svg" alt="Requirements">Bachelor's degree in Computer Science, Information Security, or a related field</p>
                    <p><img src="/assets/carers/caise_icon.svg" alt="Requirements">Minimum of 5 years of experience in IT security or a similar role</p>
                    <p><img src="/assets/carers/caise_icon.svg" alt="Requirements">In-depth knowledge of network security protocols and technologies</p>
                    <p><img src="/assets/carers/caise_icon.svg" alt="Requirements">Familiarity with regulatory frameworks such as PCI DSS and GDPR</p>
                    <p><img src="/assets/carers/caise_icon.svg" alt="Requirements">Professional certifications such as CISSP or CISM are preferred</p>
                </div>
                <div class="block_btn">
                    <a href="">Apply Now</a>
                </div>
            </div>
            
        </div>
    </div>
    <div class="wrapp_asked">
        <div class="block_text">
            <h2><span>Frequently</span> Asked Questions</h2>
            <p>Still you have any questions? Contact our Team via support@yourbank.com</p>
        </div>
        <div class="block_asked_text" id="block_asked_text" *ngFor = "let i of asketItems.slice(0, showAll ? asketItems.length : 2)">
            <div class="asked_item">
                <h5>{{i.name}}</h5>
                <p>{{i.description}}</p>
            </div>
            <div class="asked_item">
                <h5>{{i.name}}</h5>
                <p>{{i.description}}</p>
            </div>
    </div>
        <div class="btn_learn_more center">
            <a (click)="showAll = true">Load All FAQ’s <img src="/assets/main/arrow_down_btn.svg" alt="arrow"></a>
        </div>
    </div>
    <div class="wrapp_contact">
        <img class="Abstract_Design" src="/assets/main/Abstract_Design.svg" alt="Abstract_Design">
        <div class="left_block_text">
            <h2>Start your financial journey with <span>YourBank today!</span></h2>
            <p>Ready to take control of your finances? Join YourBank now, and let us help you achieve your financial goals with our tailored solutions and exceptional customer service</p>
        </div>
        <div class="right_block">
            <a href="">Open Account</a>
        </div>
    </div>
</div>
<app-footer></app-footer>