<app-header></app-header>
<div class="container">
    <div class="wrapp_login">
        <img class="abstract_decor" src="/assets/main/Abstract_Design_r.svg" alt="abstract">
        <div class="block_login">
            <div class="header_login">
                <h2>Login</h2>
                <p>Welcome back! Please log in to access your account.</p>
            </div>
            <div class="block_form">
                <form action="">
                    <div class="block_input">
                        <input type="text" placeholder="Enter your Email">
                        <input type="password" placeholder="Enter your Password">
                    </div>
                    <a href="">Forgot Password?</a>
                    <button class="login">Login</button>
                    <button routerLink="/sign" class="sign">Sign Up</button>
                </form>
                <div class="contineu">
                    <p><img src="/assets/login/Line.svg" alt="Line"> <span>Or Continue with</span> <img src="/assets/login/Line.svg" alt="Line"></p>
                </div>
                <div class="variable_login">
                    <img src="/assets/login/gmail.svg" alt="gmail">
                    <img src="/assets/login/facebook.svg" alt="facebook">
                    <img src="/assets/login/appl.svg" alt="apple">
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>