.wrapp_login {
  display: flex;
  justify-content: center;
  border: solid 1px #262626;
  border-radius: 16px;
  max-width: 1064px;
  width: 100%;
  margin: 50px auto 0 auto;
  position: relative;
}
.wrapp_login .abstract_decor {
  position: absolute;
  right: 0;
  top: 0;
}
.wrapp_login .block_login {
  color: white;
  text-align: center;
  margin-top: 80px;
  font-family: "Lexend", sans-serif;
}
.wrapp_login .block_login .header_login h2 {
  color: #CAFF33;
  font-size: 38px;
  font-weight: 500;
  margin-bottom: 16px;
}
.wrapp_login .block_login .header_login p {
  color: #BFBFBF;
}
.wrapp_login .block_form {
  margin-top: 60px;
  font-family: "Lexend", sans-serif;
}
.wrapp_login .block_form form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.wrapp_login .block_form form .block_input {
  margin-left: -24px;
}
.wrapp_login .block_form form .block_input input {
  width: 320px;
  height: 55px;
  border-radius: 88px;
  margin-left: 24px;
  padding: 20px;
  border: solid 1px #262626;
  background-color: transparent;
}
.wrapp_login .block_form form .block_input input::-moz-placeholder {
  color: #59595A;
}
.wrapp_login .block_form form .block_input input::placeholder {
  color: #59595A;
}
.wrapp_login .block_form form a {
  color: white;
  margin: 30px 0;
}
.wrapp_login .block_form form .login {
  margin: 0 auto 24px auto;
  background-color: #CAFF33;
  border: solid 1px #CAFF33;
  height: 49px;
  border-radius: 63px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  width: 404px;
}
.wrapp_login .block_form form .login:hover {
  background-color: transparent;
  color: white;
}
.wrapp_login .block_form form .sign {
  height: 49px;
  border-radius: 63px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  width: 404px;
  margin: 0 auto;
  background-color: #333333;
  border: solid 1px #333333;
  color: white;
}
.wrapp_login .block_form .contineu {
  margin: 24px 0;
}
.wrapp_login .block_form .contineu p span {
  padding: 0 16px;
}
.wrapp_login .block_form .variable_login {
  display: flex;
  justify-content: center;
  margin: 0 0 80px -20px;
}
.wrapp_login .block_form .variable_login img {
  margin-left: 20px;
}

.block_text {
  color: white;
  width: 850px;
  font-family: "Lexend", sans-serif;
}
.block_text h2 {
  font-size: 48px;
  margin-bottom: 14px;
}
.block_text h2 span {
  color: #CAFF33;
}
.block_text p {
  color: #B3B3B3;
  line-height: 150%;
  font-size: 18px;
}

.wrapp_testimonials {
  margin-top: 150px;
}
.wrapp_testimonials .block_sliders {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px 0 0 -50px;
}
.wrapp_testimonials .block_sliders .slider_item {
  width: 320px;
  color: white;
  text-align: center;
  margin-left: 50px;
  font-family: "Lexend", sans-serif;
}
.wrapp_testimonials .block_sliders .slider_item p {
  font-size: 18px;
  line-height: 150%;
  margin: 50px 0;
}
.wrapp_testimonials .block_sliders .slider_item h6 {
  font-size: 18px;
  color: #CAFF33;
  font-weight: 500;
}
.wrapp_testimonials .block_sliders .cursore_decor {
  cursor: pointer;
}
.wrapp_testimonials .block_sliders #arrow_right_slider {
  margin-left: 50px;
  cursor: pointer;
}/*# sourceMappingURL=login-page.component.css.map */