<div class="container">
    <div class="wrapp_footer">
        <div class="footer_item">
            <img src="/assets/header/Logo.svg" alt="logo">
        </div>
        <div class="footer_item">
            <ul>
                <li routerLink="/">Home</li>
                <li routerLink="/carers">Careers</li>
                <li routerLink="/about">About</li>
                <li routerLink="/security">Security</li>
            </ul>
        </div>
        <div class="block_contact">
            <p><img src="/assets/footer/mail_icon.svg" alt="mail_icon">hello&#64;gmail.com</p>
            <p><img src="/assets/footer/phone_icon.svg" alt="phone_icon">+91 91813 23 2309</p>
            <p><img src="/assets/footer/geo_icon.svg" alt="">Somewhere in the World</p>
        </div>
        <div class="last_footer_item">
            <div class="social_media">
                <img src="/assets/footer/facebook.svg" alt="facebook">
                <img src="/assets/footer/twitter.svg" alt="twitter">
                <img src="/assets/footer/linked.svg" alt="linked">
            </div>
            <div class="block_text">
                <p>YourBank All Rights Reserved</p>
            </div>
            <div class="policy_block">
                <p>Privacy Policy</p>
                <span>|</span>
                <p>Terms of Service</p>
            </div>
        </div>
    </div>
</div>